<% title "Office Locations" %>

<div id="paginator">
  <%= paginate @locations, :remote => true %>
</div>

<table class="table_grid">
  <thead>
    <tr>
      <th>Title</th>
      <th width="60px"></th>
      <th width="60px"></th>
    </tr>
  </thead>
  <tbody id="data-rows">
<%= render @locations %>
  </tbody>
</table>

<br />

<%= link_to 'New Location', new_location_path %>

<%= table_grid_row_click_handler %>
