<div class="row">
  <div class="column grid_2">
    <div style="width: 140px; height: 60px;" class="logo">
      <%= link_to image_tag(current_account.logo.url(:logo), :style => 'max-width: 140px; max-height: 60px;'), dashboard_path %>    
    </div>
  </div>
  <div class="column grid_6">
    <h2 class="title_bar_title"><%= h(current_account.title) %></h2>
  </div>
  <div class="column grid_4">
    <%= render :partial => "shared/user_info" %>
  </div>
</div>

