<% for employee in @employees %>
  <tr>
    <td><%= employee.full_name %></td>

    <% @leave_types.each do |leave_type| %>
      <td class="numeric">
        <%= @filter.summary_for(employee, leave_type) %>
      </td>
    <% end %>

  </tr>
<% end %>