<% for employee in @employees %>
  <tr>
    <td><%= employee.full_name %></td>

    <% @leave_types.each do |leave_type| %>
      <td class="numeric">
        <%= @staff_summary.leave_summary_results[employee.id][leave_type.id] || 0.0 %>
      </td>
    <% end %>

  </tr>
<% end %>