$('#leave_type_name').html('<%= @staff_balance.leave_type.to_s %> Leave');
$('#paginator').html('<%= escape_javascript(paginate(@employees, :remote => true).to_s) %>');
<% if @employees.count == 0 %>
  $('#data-rows').html('<tr class="no_hover"><td colspan="9"><p>No staff found for the given criteria.</p></td></tr>');
<% else %>
  $('#data-rows').html('<%= escape_javascript(render(:partial => 'tenant/dashboard/staff_balances')) %>');
<% end %>
$('#ajax_working').css('display', 'none');
$('#paginator').css('display', '');
$('#download_csv').attr('href', '<%= staff_balance_path(
          :format => :csv, 
          :staff_balance_enquiry => @staff_balance.attributes
        ) %>');