*.dump
*.sublime-workspace
.bundle
.rvmrc
/config/secrets.yml
config/environments/*.yml
coverage.data
coverage/
db/*.sqlite3
db/backups/*.backup
db/backups/*.restore
heroku_setup.sh
log/*.log
public/system/*
tmp/
