*.dump
*.sublime-workspace
.bundle
.rvmrc
/config/environment.yml
coverage.data
coverage/
db/*.sqlite3
db/backups/*.backup
db/backups/*.restore
heroku_setup.sh
heroku_setup_worker.sh
log/*.log
public/sitemap*
public/system/*
tmp/