* {
  font-family: 'Ubuntu', Verdana, Arial, serif;
  font-size: 11pt;
}

body {
  background-color: #8AC33E;
  color: darkslategray;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0 0 10px 0;
}

h1 { font-size: 16pt; }
h2 { font-size: 14pt; }
h3 { font-size: 12pt; }
h4 { font-size: 11pt; font-weight: bold; }
h5 { font-size: 11pt; font-style: italic; }
h6 { font-size: 11pt; text-decoration: underline; }

hr {
  border: 1px solid lightgray;
}

a img {
  border: none;
}

.notices, .error_messages {
  margin-bottom: 10px;
  padding: 8px;
}

.notices {
  background-color: #FFEF8F;
  border: 1px solid #F9DD34;
} 

.error_messages {
  background-color: #FFEF8F;
  border: 1px solid #CD0A0A;
}

.notices p, .error_messages p {
  margin: 0 0 8px 0;
  padding: 0;
}

.notices ul, .error_messages ul {
  margin: 0;
}

.notices ul li, .error_messages ul li {
  list-style: square;
}

.flash {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

.flash_notice, .flash_error, .flash_alert {
}

.background_1 {
  background: #8AD9F9; 
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#8AD9F9));        
  background: -moz-linear-gradient(center top , #FAFAFA, #8AD9F9) repeat scroll 0 0 transparent;  
}

.background_2 {
  background: #66A0B8; 
  background: -webkit-gradient(linear, left top, left bottom, from(#8AD9F9), to(#66A0B8));        
  background: -moz-linear-gradient(center top , #8AD9F9, #66A0B8) repeat scroll 0 0 transparent;  
}

.background_3 {
  background: #66A0B8;
  background: -webkit-gradient(linear, left top, left bottom, from(#8AD9F9), to(#66A0B8));
  background: -moz-linear-gradient(center top , #8AD9F9, #66A0B8) repeat scroll 0 0 transparent;
}

.background_4 {
  background: #D0D0D0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#D0D0D0));
  background: -moz-linear-gradient(center top , #FAFAFA, #D0D0D0) repeat scroll 0 0 transparent;
}

div.field, div.actions {
  margin-bottom: 10px;
}

div.actions {
  margin-top: 10px;
}

.field > div {
  padding-bottom: 2px;
}

div.field input {
  width: 318px;
  border: 1px solid lightgray;
}

div.field input[type=checkbox] {
  width: 20px;
  padding: 0;
  margin: 0;
}

div.field input[type=file] {
}

div.field .dropdown {
  width: 320px;
  border: 1px solid lightgray;
}

div.field textarea {
  height: 90px;
  min-height: 90px;
  width: 362px;
  min-width: 362px;
  border: 1px solid lightgray;
}

.field_info {
  padding-left: 10px;
}

.field_info, .field_info a {
  display: inline;
  color: silver;
  font-size: 9pt;
}

.field_with_errors {
  display: inline;
}

.field_with_errors label {
  font-weight: bold;
  color: red;
}

pre {
  border: 1px dashed #C0C0C0;
  background-color: #EFEFEF;
  padding: 10px;
  font-size: 11px;
}

.box_radius {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.box_radius_top {
  border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
}

.box_shadow {
  box-shadow: 3px 3px 4px darkgray;
  -moz-box-shadow: 3px 3px 4px darkgray;
  -webkit-box-shadow: 3px 3px 4px darkgray;
}

#container {
}

#top_bg {
}

#top {
	width: 960px;
	margin: 0 auto;
  display: block;
  border-left: 1px solid #A2A2A2;
  border-right: 1px solid #A2A2A2;
}

.header_row {
  height: 60px;
}

.title_bar_title {
  padding: 19px 0 0 19px;
}

.header_menu_row {
  height: 35px;
  border-top: 1px solid #A2A2A2;
}

.menu_bar {
  margin: 0 10px 0 10px;
  height: 35px;
}

.menu_bar_left {
  float: left;
}

.menu_bar_right {
  float: right;
}

.menu_bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu_bar ul li {
  float: left;
  border-left: 1px solid #A2A2A2;
  height: 28px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.base_menu_item {
  font-weight: bold;
}

.menu_bar_left ul li:first-child {
  border-left: none;
}

.menu_bar_left ul li:last-child {
  border-right: 1px solid #A2A2A2;
}

.menu_bar_right ul li:last-child {
  border-right: none;
}

.menu_bar ul li a {
  color: #551A8B;
  text-decoration: none;
}

.menu_bar ul li a:hover {
  text-decoration: underline;
}

#center_bg {
}

#center {
	width: 960px;
	margin: 0 auto;
  background-color: whitesmoke;
  display: block;
  border-left: 1px solid #A2A2A2;
  border-right: 1px solid #A2A2A2;
  min-height: 400px;
}

#center_container {
  margin: 10px 0 10px 0;
  padding: 0;
}

#content_title {
  border-bottom: 1px solid #C0C0C0;
  padding: 10px;
  min-height: 24px;
}

#content_main {
}

#content_body {
  padding: 8px;
}

#bottom_bg {
  margin-bottom: 10px;
}

#bottom {
  height: 60px;
	width: 960px;
	margin: 0 auto;
  border: 1px solid #A2A2A2;
  display: block;
  padding-top: 8px;
}

.working_message {
  background: url('/images/ajax-loader.gif') no-repeat left center; 
  padding-left: 32px; 
  height: 32px; 
  line-height: 32px;
}

.working_message_success {
  background: url('/images/message.png') no-repeat left center; 
}

.working_message_failure {
  background: url('/images/warning.png') no-repeat left center; 
}

