#content_header {
}

#content_main {
  margin: 6px;
}

#content_footer {
}

.title_bar_title {
  padding: 19px 0 0 19px;
}

.left_bar, .center_bar {
	float: left;
	display: inline;
	overflow: hidden;
}

.left_bar {
  width: 150px;
  padding: 0;
  margin-top: 10px;
}

.center_bar {
	padding: 0;
  width: 790px;
}

.nav_bar ul {
  margin: 16px 0 0 0;
  padding: 0;
  list-style: none;
}

.nav_bar ul li {
  background-position: 4px 4px;
  padding: 8px 10px 8px 50px;
  border-left: 1px solid #A2A2A2;
  border-top: 1px solid #A2A2A2;
  background-color: #F4F4F4;
  height: 34px;
  line-height: 34px;
}

.nav_bar ul li:first-child {
  border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
}

.nav_bar ul li:last-child {
  border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
}

.nav_bar ul li a {
  font-size: 10pt;
  text-decoration: none;
}

.nav_bar ul li a:hover {
  text-decoration: underline;
}

.nav_bar ul li:last-child {
  border-bottom: 1px solid #A2A2A2;
}

.nav_bar .employee {
  background-color: #d2eefa;
}

.nav_bar .approver {
  background-color: #b2e5f9;
}

.nav_bar .manager {
  background-color: #9adef9;
}

.nav_bar .admin {
  background-color: #7fc8e6;
}

.content_box {
  border: 1px solid gray;
  margin: 0 0 10px 0;
  padding: 0;
  min-height: 560px;
}

#content_title h2 {
  margin: 0;
}

#content_title_image {
  margin: -6px; 
  padding-left: 48px;
  height: 45px; 
  line-height: 45px;
  background-position: 2px 2px;
}

#leave_balances thead th abbr {
  font-size: 10pt;
  font-weight: normal;
}

#leave_balances tbody td {
  text-align: right;
  border-left: 1px solid #C0C0C0;
}

#leave_balances tbody td:first-child {
  text-align: left;
  border-left: none;
}

