.features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features li {
  margin: 8px;
  padding-left: 80px;
  height: 70px;
  line-height: 70px;
}

.features .simple {
  background: url(../images/marketing/simple.png) no-repeat 8px 4px;
}

.features .workflow {
  background: url(../images/marketing/workflow.png) no-repeat 8px 4px;
}

.features .email {
  background: url(../images/marketing/email.png) no-repeat 8px 4px;
}

.features .dashboard {
  background: url(../images/marketing/dashboard.png) no-repeat 8px 4px;
}

.features .heatmap {
  background: url(../images/marketing/heatmap.png) no-repeat 8px 4px;
}

.nice_box {
  border: 1px solid #C0C0C0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 3px 3px 3px #D0D0D0;
  -moz-box-shadow: 3px 3px 3px #D0D0D0;
  -webkit-box-shadow: 3px 3px 3px #D0D0D0;
}

.make_prominant {
  background-color: wheat;
}