/* calendar styles */

.leave_request_pending {
  opacity: 0.60;
}

.leave_request_approved {
}

/* list styles */

.status_pending {
  background: url('../images/leave_request_pending.png') no-repeat center center;
}

.status_approved {
  background: url('../images/leave_request_approved.png') no-repeat center center;
}

.status_declined {
  background: url('../images/leave_request_declined.png') no-repeat center center;
}

.status_cancelled {
  background: url('../images/leave_request_cancelled.png') no-repeat center center;
}

.status_reinstated {
  background: url('../images/leave_request_reinstated.png') no-repeat center center;
}

.leave_request_paperclip {
  background: url('../images/paperclip.png') no-repeat center center;
}

#leave_requests tbody tr td p, .leave_request_comment {
  padding: 6px 0 0 20px;
  min-height: 27px;
  color: gray;
  font-size: 10pt;
  text-align: left;
}

.leave_request {
  padding: 8px;
}

.leave_request_actions form, .leave_request_actions form div {
  display: inline;
}

.leave_request_container {
  height: 450px;
}

.leave_request_left {
  width: 378px; 
  float: left;
}

.leave_request_right {
  width: 258px; 
  padding-left: 120px;
  float: right;
}

.leave_request_right input {
  background: #E0E0E0;
  text-align: right;
}

.leave_request_right p {
  margin: 0 0 10px 0;
}

.leave_request_right .panel_box .panel_box_title {
  background-color: #F0F0F0;
}

.total_row {
  border-top: 1px solid #C0C0C0;
}
