#legal h2 {
  margin-top: 20px;
}

#legal p {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#legal li {
  text-align: justify;
  padding-right: 20px;
}

