#staff_calendar {
}

#staff_calendar > div {
  border-right: 1px solid #C0C0C0;
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
}

#staff_calendar div table {
  border-spacing: 0;
}

#staff_calendar div table thead {
  color: gray;
}

/*
#staff_calendar div #staff td {
  border-left: 1px solid #C0C0C0;
}
*/

#staff_calendar div #staff td {
  border-left: 1px solid #C0C0C0;
}

#staff_calendar div #staff thead {
  color: gray;
}

#staff_calendar div #staff thead td {
  text-align: right;
  padding-right: 8px;
}

#staff_calendar div #staff tbody td {
  padding-left: 8px;
}

#staff_calendar div #staff td,
#staff_calendar div #leave td {
  border-bottom: 1px solid #C0C0C0;
}

#staff_calendar div table td {
  height: 22px;
}

#staff_calendar div table tr:nth-child(even) {
  background-color: #F0F0F0;
}

/*
#staff_calendar div table td:nth-child(even) {
  background-color: #F0F0F0;
}
*/

.year_row td {
  border-left: 1px solid #C0C0C0;
}

.weekend {
  background-color: #E0E0E0;
}

.holiday {
  color: white;
  background-color: gray;
}

.year_row td:nth-child(event) {
  background-color: #F0F0F0;
}

.month_row td {
  border-left: 1px solid #C0C0C0;
}

.month_row td:nth-child(event) {
  background-color: #F0F0F0;
}

#leave td {
  min-width: 2px;
}

#staff_calendar div #leave tbody {
  color: white;
}

#staff_calendar div #leave td {
  text-align: center;
}

.indent {
  padding-left: 12px;
}

.week_days {
  display: none;
}

.days {
  display: none;
}

#zoom_out {
  float: right; 
  background: url('../images/zoom_out.png') no-repeat;
  width: 38px;
  height: 22px;
  cursor: pointer;
}

#zoom_slider {
  float: right; 
  width: 200px; 
}

#zoom_in {
  float: right; 
  background: url('../images/zoom_in.png') no-repeat;
  width: 28px;
  margin-left: 20px;
  height: 22px;
  cursor: pointer;
}
