<% title "Registration Completed" %>

<p>Your account is being provisioned and will be available shortly.</p>

<p id="status" class="working_message">
  Account creation in progress. Please wait...
</p>

<p>
  Once your account is ready, you will be automatically redirected to your <%= link_to 'dashboard', @registration.setup_url %>.
</p>

<div style="display: none;">
  <%= link_to '', query_account_registration_path(@registration, Time.now), :id => "query_status", :remote => true %>
</div>

<script type="text/javascript">
  function query() {
    $('#query_status').click();
  }
  function dashboard() {
    window.location = '<%= @registration.setup_url %>';
  }
  // wait 10 seconds initially
  window.setTimeout(query, 10000);
</script>
