<% title "Registration Completed" %>

<p>Your account is being provisioned, and will be available shortly.</p>

<p>TODO: show working animation....</p>

<p>TODO: ajax request to see if ready... if it is, redirect...</p>


