<div class="dashboard_panel">
  <div class="dashboard_panel_header box_radius_top background_4">
    My Recent Leave Requests
  </div>
  <div class="dashboard_panel_content">
    <% if @dashboard.recent_leave_requests.count() > 0 %>
      <ul>
        <% for leave_request in @dashboard.recent_leave_requests %>
          <%= render 'tenant/leave_requests/dashboard_item', :leave_request => leave_request %>
        <% end %>    
      </ul>
    <% else %>
      <em>None found.</em>    
    <% end %>
  </div>
  <div class="dashboard_panel_footer">
    <%= link_to 'More', employee_leave_requests_path(:leave_request_filter => { :status => LeaveRequest::FILTER_STATUS_APPROVED }) %>
  </div>
</div>
