<div class="dashboard_panel">
  <div class="dashboard_panel_header box_radius_top background_4">
    Leave Requests Requiring Documentation
  </div>
  <div class="dashboard_panel_content">
    <% if @dashboard.leave_requests_requiring_documentation.count() > 0 %>
      <ul>
        <% for leave_request in @dashboard.leave_requests_requiring_documentation %>
          <%= render 'tenant/leave_requests/dashboard_item', :leave_request => leave_request %>
        <% end %>    
      </ul>
    <% else %>
      <em>None found.</em>    
    <% end %>
  </div>
  <div class="dashboard_panel_footer">
    <%= link_to 'More', employee_leave_requests_path(:status => LeaveRequest::FILTER_STATUS_APPROVED, :requires_documentation_only => '1') %>
  </div>
</div>
