<% title "Features" %>

<ul>
  <li>Simple, intuitive and efficient leave management service</li>
  <li>Full leave application, approval, rejection workflow</li>
  <li>E-mail notification of entire application process</li>
  <li>Dashboards for effective management information</li>
  <li>Heat maps to identify potential staff issues </li>
  <li>
    Cost effective –Pay per employee.
    <ul>
      <li>No hardware costs,</li>
      <li>No software costs,</li>
      <li>No installation costs,</li>
      <li>No hidden costs.</li>
    </ul>
  </li>
</ul>

