<% robots "index, follow" %>

<h2 style="text-align: center; margin: 20px;">
  The online employee leave management solution!
</h2>

<div style="height: 420px;">

  <div style="float: left; height: 400px; width: 530px;">
    <ul class="features">
      <li class="nice_box simple">Simple, intuitive and efficient leave management</li>
      <li class="nice_box workflow">Full leave application, approval, rejection workflow</li>
      <li class="nice_box email">E-mail notification of entire application process</li>
      <li class="nice_box dashboard">Dashboards for effective management information</li>
      <li class="nice_box heatmap">Heat maps to identify potential staff issues </li>
    </ul>
  </div>

  <div style="float: right; height: 400px; width: 380px;">
    <div style="margin: 8px;">
      <div style="padding: 12px; text-align: center; height: 166px;" class="nice_box">
        <div>
          <%= link_to image_tag('../images/play.png'), dashboard_path(:tenant => 'demo', :auth_token => auth_token), :target => '_blank' %>
        </div>
        <p>
          Give it a try now! <br/> 
          No need to create an account!
        </p>
        <p>
          Click here for a <%= link_to 'Demo', dashboard_path(:tenant => 'demo', :auth_token => auth_token), :target => '_blank' %></p>
        </p>
      </div>
    </div>  

    <div style="margin: 8px;">
      <div style="padding: 12px; text-align: center; height: 166px;" class="nice_box">
        <div>
          <%= link_to image_tag('../images/start.png'), new_account_registration_path() %>
        </div>
        <p>
          Get started Today! <br/> 
        </p>
        <p>
          Click here for a <%= link_to 'Free Trial', new_account_registration_path() %></p>
        </p>
      </div>
    </div>  

  </div>

</div>

  