<% title "Affiliate Partner Program" %>

<p>Typical partners include;</p>

<ul>
  <li>HR consultants</li>
  <li>Software vendors</li>
  <li>General business consultants</li>
  <li>Other online service providers</li>
</ul>

<p>
If you are positioned to market Human-Faktor leave management then please contact us for further information.
</p>

<p>Send an email to <%= mail_to 'info@human-faktor.com' %></p>

