<% title "Account Sign In" %>

<p>When you first registered we sent you a welcome email with your
<strong><%= AppConfig.title %></strong> URL.</p>

<p>If you remember the company name (possible abbreviated) you may enter it here and click Go:</p>

<div class="mock_address_bar">
  <div>
  http://<input id="subdomain" type="text" placeholder="yourcompanyname" />.<%= AppConfig.domain %>
  </div>
  <input type="button" value="Go!" onclick="javascript: try_url();" />
</div>

<p>If can&apos;t remember the company name then send an email to <%= mail_to AppConfig.support_email, AppConfig.support_email, :subject => "#{AppConfig.title} Support - Forgotten Company Name" %>.</p>

<script type="text/javascript">
  function try_url() {
    var subdomain = $('#subdomain').val();
    if (subdomain=="") {
      alert('Please supply your company name.')
      $('#subdomain').focus();
    } else {
      window.location = 'http://' + subdomain + '.<%= AppConfig.domain %>';
    }
  }
</script>

