<div class="menu_bar menu_bar_left">
  <ul>
    <li><%= link_to "TODO", '/TODO' %></li>
    <li><%= link_to "TODO", '/TODO' %></li>
  </ul>
</div>
<div class="menu_bar menu_bar_right">
  <ul>
    <li><%= link_to "TODO", '/TODO' %></li>
  </ul>
</div>

