<!-- links for approvers -->
<%= render :partial => 'tenant/dashboard/employee/nav_bar' %>
<li><%= link_to 'Staff Calendar', staff_calendar_path %></li>
<li><%= link_to "Staff Leave", staff_leave_requests_path %></li>

