<!-- links for approvers -->
<%= render :partial => 'tenant/dashboard/employee/quick_nav' %>
<li><%= link_to 'Capture Leave', new_staff_leave_request_path %></li>
<li><%= link_to 'Authorise Leave', staff_leave_requests_path %></li>
