<!-- links for managers -->
<%= render :partial => 'tenant/dashboard/approver/nav_bar' %>
<li><%= link_to "Heatmap Analysis", staff_usage_path %></li>
<li><%= link_to "Leave Analysis", '/TODO' %></li>

