<p>SUCCESS: The bulk upload file has been applied successfully.</p>

<%= render @bulk_upload %>

<p>Messages:</p>
<pre style="min-height: 60px; max-height: 300px; overflow: auto;">
<%= @bulk_upload.messages %>
</pre>

<p>
  <%= link_to 'Done', account_path %>
</p>
