<p>FAILURE: The bulk upload file failed to be applied.</p>

<%= render @bulk_upload %>

<p>Messages:</p>
<pre style="min-height: 200px; max-height: 300px; overflow: auto;">
<%= @bulk_upload.messages %>
</pre>

<p>
  <%= link_to 'Done', account_path %>
</p>

