<tr id="_department_<%= department.to_param %>" data-url="<%= edit_department_path(department, :tenant => current_account.subdomain) %>">
  <td><%= department.title %></td>
  <td><%= link_to image_tag('delete.png'), department_path(department, :tenant => current_account.subdomain), :method => :delete, :remote => true, :confirm => 'Are you sure?', :class => "delete_button" %></td>
</tr>

