<li>
  <div>
    <div style="float: left;">
      <%= leave_request.employee %>
    </div>
    <div style="float: right; text-align: right; color: gray; font-size: 10pt;">
      <%= time_ago_in_words(leave_request.created_at) %> ago
    </div>
  </div>
  <div class="clearfix"></div>
  <div>
    <div style="float: left;">
      <%= link_to "#{leave_request.leave_type}: #{leave_request.date_from_s} to #{leave_request.date_to_s}", 
                    leave_request_path(leave_request, :tenant => current_account.subdomain),
                    :title => h(leave_request.comment) %>
    </div>
    <div style="float: right; text-align: right; color: gray; font-size: 10pt;">
      <%= pluralize(leave_request.duration, 'day') %>
    </div>
  </div>
  <div class="clearfix"></div>
</li>

