<%= form_for @leave_request, 
             :as => 'leave_request_constraints',
             :url => update_constraints_leave_request_path(@leave_request, :tenant => current_account.subdomain),
             :remote => true do |f| %>

  <div style="height: 32px; margin-bottom: 10px; float: right;">
    <div id="ajax_working" style="display: none;">Saving override...</div>
    <div id="update_message" style="line-height: 32px; text-align: right; display: none; padding-right: 8px;" class="field_info">
      <%= image_tag 'ok.png' %>
      Successfully Updated
    </div>
  </div>

  <%= render :partial => 'leave_request_constraint_overrides', 
             :locals => { :f => f, :leave_request => @leave_request } %>

  <div style="display: none;">
    <%= f.submit 'Update Warnings' %>
  </div>

<% end %>

<script type="text/javascript">
  $('#leave_request_constraints_edit input[type=checkbox]').change(function(){
    $('#ajax_working').css('display', '');
    $('#update_message').css('display', 'none');
    $('#leave_request_constraints_edit').submit();
  });
</script>