<% if leave_request.leave_type.requires_documentation || 
        leave_request.override_requires_documentation || 
          leave_request.document_attached? %>
  <tr>
    <td>Document:</td>
    <td id="leave_request_document">
      <% if leave_request.document_attached? %>
        <%= link_to leave_request.document_file_name, 
              leave_request.document_authenticated_url, :target => '_blank' %>
        <%= link_to image_tag('../images/delete.png', :title => 'Delete document'),
                    remove_document_leave_request_path(@leave_request, :tenant => current_account.subdomain),
                    :method => :delete, :remote => true, 
                    :confirm => 'Are you sure?',
                    :id => 'remove_document_link' %>
      <% else %>
        <em>Documentation not supplied!</em>
      <% end %>
    </td>
    <td>
      <% if leave_request.can_update_documentation?(current_employee) %>
        <%= button_to_function (leave_request.document_attached? ? "Update Document" : "Add Document"), 
              "$('#upload_document_dialog').dialog('open');" %>
      <% end %>
    </td>
  </tr>
<% end %>
