<% if leave_request.has_constraint_violations? %>
  <div class="leave_request box_radius">
    <h3>Warnings</h3>
    <p>The following warnings have been issued for the request, you may override them as necessary:</p>

    <div style="margin: 0 0 20px 20px;">
      <% LeaveConstraints::Base.constraint_names.each do |constraint_name| 
          constraint_type = LeaveConstraints::Base.constraint_type(constraint_name)
          constraint_value = leave_request.send(constraint_name.as_constraint)
          can_override = constraint_type.can_override?(leave_request) || !constraint_value
       %>
        <div class="field <%= constraint_value ? '' : 'extra_leave_constraint' %>" style="display: <%= constraint_value ? '' : 'none' %>;">
          <span><%= f.check_box constraint_name.as_constraint_override, :disabled => !can_override %></span>
          <span>
            <%= f.label t(constraint_name, :scope => 'leave_request_constraints') %>
            <% if !can_override %>
              <em>*Leave policy prevents override.</em>
            <% end %>
          </span>
        </div>

      <% end %>
    </div>
    
    <div style="text-align: right;">
      <a id="show_leave_constraints" href="javascript: show_leave_constraints();">Show all available?</a>
    </div>
    
  </div>
  
  <script type="text/javascript">
    function show_leave_constraints() {
      $('.extra_leave_constraint').css('display', '');
      $('#show_leave_constraints').css('display', 'none');
    }
  </script>
  
<% end %>
