<% if @leave_request.has_constraint_violations? %>
  <div class="leave_request">
    <h3>Warnings</h3>
    <p>The following warnings have been issued for the request:</p>

    <ul>
      <% LeaveConstraints::Base.constraint_names.each do |constraint_name| %>
        <%= content_tag 'li', t(constraint_name, :scope => 'leave_request_constraints') if @leave_request.send(constraint_name.as_constraint_override) == true %>
      <% end %>
    </ul>

  </div>
<% end %>

