<% title "Employees" %>

<div id="paginator">
  <%= paginate @employees, :remote => true %>
</div>

<table class="table_grid">
  <thead>
    <tr>
      <th></th>
      <th>Full Name</th>
      <th>Designation</th>
      <th>Role</th>
      <th>Location</th>
      <th>Department</th>
      <th>Active</th>
      <th width="60px"></th>
    </tr>
  </thead>
  <tbody id="data-rows">
<%= render @employees %>
  </tbody>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>

<script type="text/javascript">
$(".table_grid tbody").delegate('tr', 'click', function(e) {
  if (e.srcElement.parentNode == this)
    window.location = e.currentTarget.getAttribute('data-url');
});
</script>

